:root {
    --primary-color: #041f80;
  }

.navbar{
    background: #041f80;
}
.nav-link:hover,
.navbar-brand:hover{
    color: silver;
}
.navbar-brand{
    color: #fff;
    text-align: center;
}
.navbar-brand:disabled{
    color: #fff;
}
.nav-link{
    color: #fff;
}

.dropdown-toggle{
    background: #041f80;
}

.form-controll {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #041f80;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
nav li{
    margin-right: 50px;
}

.show-more-btn{
    width: 100%;
    height: 50px;
    background: #041f80;
    border: none;
    margin-top: 25px;
    color: #fff;
    cursor: default;
}


.Currency{
    background: url(../img/-14.jpg);
    background-size: 100%;
    padding-top: 25px;
}

.currency-display {
  display: flex;
  justify-content: center;
}
.currency-display h2{
    font-size: 2em;
    padding: 25px 0;
}
.currency-buy,
.currency-sell {
  background-color: #e0dada;
  padding: 10px;
  text-align: center;
  width: 28%;
  transition: 0.5s;
}

.currency-display .flag{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
}
.currency-display .flag:nth-child(1){
    margin-top: 8em;
}
.currency-display .flag:nth-child(2){
    margin-top: 1.8em;
}


.currency-name {
  font-weight: bold;
  font-size: 22px;
    margin-bottom: 8px;
    padding: 5px 0;
}

.currency-rate {
  font-size: 25px;
  margin-top: 0px;
}

.schedule{
    width: 100%;
    min-height: 120vh;
    background: linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(242,236,236,1) 49%, rgba(204,204,204,1) 100%);
}
.schedule h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding-top: 35px;
}
.schedule h2{
    padding-bottom: 20px;
}
.schedule .tables{
    padding-top: 20px;
}
.schedule .left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    padding-top: 40px;
    height: 460px;
}
.schedule td,th{
    width: 200px;
    padding-bottom: 15px;
    text-align: center;
}


.schedule .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 150px;
    height: 460px;
}
.container p{
    text-align: center;
}







.calculator{
    padding: 70px 0;
    background: radial-gradient(circle, rgba(242,236,236,1) 24%, rgba(204,204,204,1) 100%);
}

.containerr{
    margin: 0 auto;
    background: #fefefe;
    border-radius: 25px;
    width: 75%;
    box-shadow: 6px 6px 5px grey;
}

.calculator h1 {
    color: var(--primary-color);
    font-size: 50px;
    text-align: center;
  }
.calculator  p {
    text-align: center;
    font-size: 20px;
  }
 .calculator .btn {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 20px;
    border: #5fbaa7;
    width: 75px;
  }
.calculator  .currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.calculator  #line{
    border: none;
    border-bottom: 3px solid #041f80;
    width: 20%;
    margin: auto;
  }
 .calculator .currency input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
    border-bottom: 2px solid #0A0A0A;
    width: 50%
  }
.calculator  .swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calculator  .rate {
    color: var(--primary-color);
    font-size: 20px;
    padding: 0 10px;
  }
.calculator  select{
    width: 75px;
    padding: 7px;
    border: 2px solid #041f80;
    border-radius: 5px;
  }
#currencyTransaction{
    position: absolute;
    margin-left: 1em;
}
  select:focus,
  input:focus,
  button:focus {
    outline: 0;
  }

.container{
    width: 70%;
}

.container .contactInfo{
    width: 100%;
    display: flex;
    padding: 25px 0;
}
.container .contactInfo .box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    width: 33%;
    min-height: 150px;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;
}
.container .contactInfo .box:hover .icon{
    border-radius: 50%;
    background: var(--primary-color);
    color: #fff;
}
.container .contactInfo .box .text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1em;
    color: var(--primary-color);
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    width: 100%;
    height: 70px;
    background: #041f80;
}
footer h1{
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 21px;
}

@media (max-width: 1000px) {
    .currency input {
      width: 200px;
    }
    .money-img{
      width: 400px;
    }
  }
  
@media (max-width: 991px){
    .Currency{
        background: #785541;
    }
    .selectors{
        display: flex;
        flex-direction: column;
    }
    #currencyTransaction{
        position: relative;
        margin-left: 0;
        margin-top: 5px;
    }
    .currency-buy,
    .currency-sell{
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container .contactInfo{
        width: 100%;
        display: contents;
        flex-direction: column;
    }
    .schedule .right{
        padding: 0;
    }
    .schedule .tables{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .schedule .left{
        width: 90%;
        padding-top: 5px;
        text-align: center;
    }
    .right.map{
        width: 100%;
    }
    iframe{
        width: 22em;
    }
    .container .contactInfo .box .icon{
        border-radius: 50%;
    }
    footer h1{
        font-size: 15px;
    }
}